Codename: %{codename}
Suite: %{suite}
Architectures: source %{arch}
Components: main
UDebComponents: main
Contents:
SignWith: FA3AB4D1277003E692B2B67A6B0D35E28832D657
Origin: XLibre
Label: xlibre-deb
Description: XLibre deb repo